{% extends 'base.html' %}
{% load static %}
{% block title %}Update PICA{% endblock %}
{% block content %}
    <br>
    <div class="row container-fluid">
        <div class="col-lg-6 offset-3">
            <h3>Update PICA</h3>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-primary mx-2" type="submit">Submit</button>
                {% if topik.topik2peserta.all %}
{#                    {% pass %}#}
                {% else %}
                    <a href="{% url 'pica:delete_topik' meet topik.pk %}"
                       class="btn btn-danger mx-2">Delete</a>
                {% endif %}
                <a href="{% url 'pica:create_pica' meet %}"
                   class="btn btn-secondary mx-2">Cancel</a>
            </form>
            <br>
        </div>

        <br>
    </div>
{% endblock %}